.sign_container {
    -fx-background-color: #EEEEEE;
    -fx-spacing: 15;
    -fx-alignment: top-left;
    -fx-padding: 50px;
}

.sign_container Background {
    -fx-background-color: #44D952;
    -fx-alignment: center;
}

.TextContainer {
    -fx-font-size: 2em;
    -fx-text-fill: #FFFFFF;
}

.Under {
    -fx-border-radius: 30;
    -fx-background-color: #44D952;
}

.label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.sign_container Button {
    -fx-background-color: #44D952;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-cursor: hand;
}

/* Bouton en survol */
.sign_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #36B943;
}


.sign_container {
    -fx-spacing: 15;
    -fx-alignment: top-left;
}

.modal_cover {
-fx-background-color: rgba(0, 0, 0, 0.5);
}

.login_link {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #44D952;
    -fx-cursor: hand;
}
.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4),6,0,0,0);
}
